.all-projects-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: -35px;
	margin-right: -35px;
}

.all-projects-project {
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

.all-projects-container--full-row .all-projects-project {
	width: 100%;
}

.projects-section-label {
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--link-color);
	padding-bottom: 4px;
	border-bottom: 1px solid var(--tertiary-color);
	margin-top: 10px;
}

.projects-section-divider {
	margin-top: 20px;
	margin-bottom: 10px;
	border: none;
}

@media (max-width: 600px) {
	.all-projects-project {
		width: calc(100% / 2);
	}
}